<launch>
  <node pkg="move_base" type="move_base" name="move_base" ns="agent" output="screen">

    <!-- Load main move_base parameters -->
    <rosparam file="$(find scout_description)/param/4wd/move_base_agent_params.yaml" command="load" />

    <!-- Load planner and costmap parameters -->
    <rosparam file="$(find scout_description)/param/4wd/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find scout_description)/param/4wd/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find scout_description)/param/4wd/base_local_planner_params.yaml" command="load" />

    <!-- Load costmap_common_params for both local and global -->
    <rosparam file="$(find scout_description)/param/4wd/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find scout_description)/param/4wd/costmap_common_params.yaml" command="load" ns="local_costmap" />

    <!-- Remap cmd_vel topic -->
    <remap from="/cmd_vel" to="/agent/cmd_vel"/>
  </node>
</launch>




